body{
	background-color: lavender;
}

h1{
					color: white;
					font-size: 90px; 
					text-decoration: underline;				}
				h2 {
					font-size: 33px;
					color: salmon;
									}
									#first { font-size: 150px; }
									.small{
										font-size: 12px;
									}
									span{
										font-style: italic;
									}
								h2 span {
									text-decoration: line-through;
								}
								.links {
									color: white; 
									font-size: 37px;
									 text-decoration: underline;
  -webkit-text-decoration-color: salmon;
  text-decoration-color: salmon;
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
								}